.sidebarBlock {
  background: #f1f1f1;
  padding: 16px;
  margin-left: 16px;
  margin-bottom: 24px;
}
.sidebarBlockTitle {
  display: flex;
  align-items: center;
}
.sidebarBlockTitleIcon {
  width: 16px;
  height: 22px;
  margin-right: 8px;
}
.sidebarBlockTitle span {
  font-weight: 900;
  font-size: 18px;
  line-height: 28px;
  color: #1a1a1a;
}
.sidebarBlockContent {
  padding: 16px 0;
}
.sidebarBlockContent .ctaBtns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}
.agressiveBtn {
  font-weight: 600;
  font-size: 14px;
  line-height: 117.9%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #1a1a1a;
  border: 1px solid #434343;
  flex: 1;
}
.conservativeBtn {
  font-weight: 600;
  font-size: 14px;
  line-height: 117.9%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: #000000;
  border: 1px solid #434343;
  margin-left: 10px;
  flex: 1;
}
.sidebarBlockContent p {
  font-weight: 500;
  font-size: 16px;
  line-height: 117.9%;
  color: #000000;
  margin-bottom: 1em;
}
.sidebarBlockContent .footer_desc {
  font-weight: normal;
  font-size: 16px;
  line-height: 117.9%;
  color: #000000;
}
.accordionTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.accordionTitle span,
.accordionTitle strong {
  font-size: 16px;
  line-height: 25px;
  color: #1a1a1a;
}
.accordionTitleIcon {
  width: 16px;
  height: 16px;
}

.ghostBtn {
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.accordionContent {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 1em;
}

@media (max-width: 1400px) and (min-width: 1241px) {
  .sidebarBlockTitle span {
    font-size: 16px;
    line-height: 18px;
  }
  .agressiveBtn {
    margin: 0 0 1em 0;
    width: 100%;
    flex: none;
  }
  .conservativeBtn {
    margin: 0;
    width: 100%;
    flex: none;
  }
}

@media (max-width: 1240px) and (min-width: 1025px) {
  .sidebarBlockTitle span {
    font-size: 15px;
    line-height: 17px;
  }
  .sidebarBlockTitleIcon {
    width: 18px;
  }
  .agressiveBtn,
  .conservativeBtn {
    font-size: 13px;
  }
  .sidebarBlockContent p {
    font-size: 14px;
  }
  .sidebarBlockContent .footer_desc {
    font-size: 14px;
  }
  .company_logo {
    padding-right: 0;
    padding-left: 5px;
  }
  .company_logo:nth-child(2n + 1) {
    padding-right: 5px;
    padding-left: 0;
  }
  .company_logo {
    margin-bottom: 18px;
  }
  .company_logo img {
    max-width: 100%;
    height: auto;
  }
  .accordionTitle {
    margin-bottom: 8px;
  }
  .accordionTitle span,
  .accordionTitle strong {
    font-size: 14px;
    line-height: 21px;
  }
  .accordionTitleIcon {
    width: 14px;
    height: 14px;
  }
  .accordionContent {
    font-size: 13px;
    line-height: 18px;
  }
}

@media (max-width: 1024px) {
  .contentMainCol {
    flex: none;
    max-width: 100%;
    width: 100%;
  }
  .contentSideCol {
    flex: none;
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  .sidebarBlock {
    width: 49%;
    margin-left: 0;
  }
  .sidebarBlock:last-child {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .sidebarBlockTitle span {
    font-size: 15px;
    line-height: 17px;
  }
  .sidebarBlockTitleIcon {
    width: 18px;
  }
  .agressiveBtn,
  .conservativeBtn {
    font-size: 13px;
  }
  .sidebarBlockContent p {
    font-size: 14px;
  }
  .sidebarBlockContent .footer_desc {
    font-size: 14px;
  }
  .company_logo {
    padding-right: 0;
    padding-left: 5px;
  }
  .company_logo:nth-child(2n + 1) {
    padding-right: 5px;
    padding-left: 0;
  }
  .company_logo {
    margin-bottom: 18px;
  }
  .company_logo img {
    max-width: 100%;
    height: auto;
  }
  .accordionTitle {
    margin-bottom: 8px;
  }
  .accordionTitle span,
  .accordionTitle strong {
    font-size: 14px;
    line-height: 21px;
  }
  .accordionTitleIcon {
    width: 14px;
    height: 14px;
  }
  .accordionContent {
    font-size: 13px;
    line-height: 18px;
  }
  .agressiveBtn {
    margin: 0 0 1em 0;
    width: 100%;
    flex: none;
  }
  .conservativeBtn {
    margin: 0;
    width: 100%;
    flex: none;
  }
}

@media (max-width: 600px) {
  .sidebarBlock {
    width: 100%;
    margin-left: 0;
  }
  .sidebarBlockContent {
    padding-bottom: 5px;
  }
}

.handIcon {
  cursor: pointer;
}
