
.topSection {
  padding: 24px 0;
  border-bottom: 1px solid #C4C4C4;
}

.topSection .right,
.topSection .left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.topSection .left {
  font-weight: 600;
  font-size: 32px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
.topSection .left p {
  margin: 0;
  font-size: 18px;
  line-height: 28px;
}
.thick_star_btn, .caret_down_btn {
  height: auto;
  border: none;
  display: flex;
  align-items: center;
  padding: 0;
}
.thick_star_btn {
  margin-right: 12px;
}
.caret_down_btn {
  margin-left: 10px;
}

.topSection .right {
  justify-content: flex-end;
}
.sms_send_btn {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  background: #000;
  padding: 13px 16px;
  height: auto;
  border: none;
}
.sms_send_btn:hover {
  background-color: rgba(26, 26, 26, 0.9);
}
.sms_send_btn path {
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.sms_send_btn:hover path {
  fill: #40a9ff;
}

.mobile_phone_icon {
  width: 14px;
  margin-right: 5px;
}
.config_btn {
  margin-left: 26px;
  border: none;
  height: auto;
  display: flex;
  align-items: center;
  padding: 2px;
}
.config_btn_icon {
  width: 32px;
  height: 32px;
}

@media (max-width: 992px) {
  .topSection {
    padding: 20px 0;
  }  
  .topSection .left {
    font-size: 28px;
    line-height: 42px;
  }
  .thick_star_btn {
    margin-right: 8px;
  }
  .thick_star_icon {
    width: 28px;
  }
  .caret_down_icon {
    width: 16px;
  }
  .caret_down_btn {
    margin-left: 7px;
  }
  .sms_send_btn {
    font-size: 14px;
    line-height: 22px;
    padding: 11px 14px;
  }
  .config_btn {
    margin-left: 22px;
  }
  .config_btn_icon {
    width: 26px;
  }
  .topSection .left p {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (max-width: 786px) {
  .topSection .right {
    display: none;
  }
  .topSection {
    padding: 12px 0;
  }
  .topSection .left {
    max-width: 100%;
    flex: 1;
  }
  .thick_star_icon {
    width: 22px;
  }
  .caret_down_icon {
    width: 18px;
  }
  .topSection .left {
    font-size: 24px;
    line-height: 38px;
  }
  .topSection .left p {
    font-size: 14px;
    line-height: 22px;
  }
}