.protection_image {
  height: 200px;
  width: 170px;
}

.protection_heading {
  text-transform: uppercase;
  font-family: Saira;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  padding-top: 15px;
}

.protection_details {
  text-transform: uppercase;
  font-family: Saira;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin-top: -7px;
}

.protection_image_div {
  justify-content: center;
  display: flex;
  align-items: start;
  width: 130px;
}

.protection_details_div {
  width: 400px;
}

@media (max-width: 600px) {
  .protection_image {
    height: 170px;
    width: 120px;
  }
  .protection_heading {
    font-size: 12px;
  }
  .protection_details {
    font-size: 12px;
  }
  .protection_details_div {
    width: 250px;
  }
  .protection_image_div {
    justify-content: center;
    display: flex;
    align-items: start;
    width: 100px;
  }
}
