.subscribenow {
  background: #1a1a1a;
  padding: 50px;
  margin-bottom: 50px;
}

.subscribenow_desc {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #f1f1f1;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 57px;
}

.orText {
  font-family: Rock Salt;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 38px;
  color: #ffffff;
  text-align: center;
}

.rightCard {
  background: #ffffff;
  width: 220px;
  flex: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.vipText {
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  text-align: left;
  color: #1a1a1a;
  text-transform: uppercase;
  margin-bottom: 0.2em;
}

.allPlayText {
  font-weight: normal;
  font-size: 10px;
  line-height: 16px;
  text-align: left;
  color: #1a1a1a;
  margin-bottom: 0em;
}

.rightOuterDiv {
  width: 100%;
}

.imageAndDetailDivForRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}

.imageAndDetailDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-top: 30px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.bestValueText {
  font-family: Rock Salt;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 184.4%;

  text-align: center;
  text-transform: uppercase;

  color: #000000;
}

.dailyCardText {
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 140%;
  text-align: center;
  color: #000000;
}
.subscribe_btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7.5px 24px;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  color: #101010;
  background: #ffc700;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin-top: 0.2em;
  width: 100%;
}

.buttonContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.rowClass {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

.orColumn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.imagesContainer {
  display: flex;
  justify-content: center;
}

.images {
  padding-right: 4px;
  padding-left: 4px;
}

@media (max-width: 600px) {
  .rowClass {
    padding-right: 0px;
    padding-left: 0px;
  }

  .subscribenow_desc {
    font-family: Saira;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;

    text-align: center;

    color: #ffffff;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .orColumn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 17px;
  }

  .subscribenow {
    padding: 50px;
    margin-bottom: 50px;
  }
}
