.cartFormContent {
  flex: 1;
}
.rowWithTwoChild > div {
  width: 49%;
  flex: 0 0 49%;
}
.loginModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  transition: all ease-in 0.4s;
}
.wrapper  {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 640px;
  background-color: #F5F5F5;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

.logo_section {
  background: #1a1a1a;
  text-align: center;
  padding-top: 7px;
  position: relative;
}
.logo_section img {
  width: 300px;
}
.signInForm {
  padding: 40px 0 60px;
  width: 500px;
  margin: auto;
}
.register_row {
  margin-bottom: 0;
}
.content h2 {
  text-align: center;
  font-size: 50px;
  line-height: 140%;
  font-weight: normal;
  text-transform: uppercase;
  color: #000000;
  margin: 0 0 10px 0;
}
.content a {
  color: #40a9ff;
  font-weight: 500;
}
.signInBtn {
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  color: #1A1A1A;
  background: #FFC700;
  padding: 7.5px 24px;
  height: auto;
  width: 100%;
  margin: 24px 0;
  text-transform: uppercase;
}
.register_facebook_btn,
.register_goggle_btn {
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  color: #101010;
  height: auto;
  border: 1px solid #1A1A1A;
  padding: 7.5px 24px;
  margin: auto;
  margin-bottom: 20px;
  width: 100%;
  display: block;
}
.formGroup {
  margin-top: 24px;
}
.formGroup label {
  font-weight: 500;
  font-size: 13px;
  line-height: 1em;
  color: #000000;
  display: block;
  margin-bottom: 5px;
}
.formGroup input {
  border: 1px solid #C4C4C4;
  width: 100%;
  font-size: 12px;
  line-height: 19px;
  padding: 10px 12px;
}
.formGroup input.error {
  border-color: rgb(236, 76, 21);
}
.terms_and_conditions {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-transform: uppercase;
}
.divider {
  width: 1px;
  height: 14px;
  background-color: #40a9ff;
  margin: 0 6px;
}

.closeBtn {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  border: none;
  padding: 0;
  background: transparent;
  height: 16px;
}
.closeIcon {
  width: 16px;
  height: 16px;
}
.closeIcon path {
  fill: #fff;
}
.forgotPasswordLink {
  margin-top: 3px;
}
@media (max-width: 768px) {
  .content {
    width: 560px;
  }
  .logo_section {
    padding-top: 4px;
  }
  .logo_section img {
    width: 260px;
  }
  .content h2 {
    font-size: 40px;
  }
  .signInForm {
    padding: 25px 0 45px;
  }
}

@media (max-width: 600px) {
  .wrapper {
    display: none;
  }
  .content {
    width: 100%;
    height: 100%;
    left: 0;
    transform: none;
    top: 0;
  }
  .logo_section {
    padding: 16px 16px 8px;
    text-align: left;
  }
  .logo_section img {
    width: 220px;
    height: auto;
  }
  .closeBtn {
    right: 16px;
  }
  .signInForm {
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
  }
}


/* Forgot Pass Form style */
.forgotPassForm h2 {
  font-size: 36px;
}
.termsSection {
  margin-top: 24px;
  display: flex;
  align-items: center;
}
.termsContent {
  font-size: 12px;
  line-height: 19px;
  color: #000000;
  margin-left: 12px;
}
.termsContent .title {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
}
.termsContent a {
  text-decoration: underline;
}
.registerBtn {
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  color: #1A1A1A;
  background: #FFC700;
  padding: 7.5px 24px;
  height: auto;
  width: 100%;
}
.cartSignupTitle {
  margin-bottom: 0.2em;
  font-size: 56px;
}
.cartSignupDesc {
  margin-bottom: 2.5em;
  font-size: 18px;
  font-weight: 500;
}
.register_row a {
  color: #40a9ff;
  font-weight: 600;
}