.outer_div {
  background-color: #1a1a1a;
  width: 100%;
}

.dailyStake {
  width: 1412px;
  height: 142px;

  font-family: Saira;
  font-style: normal;
  font-weight: 800;
  font-size: 100px;
  line-height: 117.9%;
  /* or 118px */

  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}

.merchandise {
  width: 1370px;
  height: 140px;

  font-family: Saira;
  font-style: normal;
  font-weight: 800;
  font-size: 100px;
  line-height: 117.9%;
  /* or 118px */

  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}

.coming_soon {
  width: 1214px;
  height: 152px;

  font-family: Rock Salt;
  font-style: normal;
  font-weight: normal;
  font-size: 120px;
  line-height: 184.4%;
  /* or 221px */

  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}

.innerDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px; */
}

.signup_text {
  width: 780px;
  height: 42px;

  font-family: Saira;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 129.9%;
  /* or 36px */

  text-align: center;

  color: #ffffff;
}

.checkout_btn {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  color: #1a1a1a;
  background: #ffc700;
  line-height: 25px;
  height: 40px;
  width: 260px;
  margin-top: 30px;
}

.email_text {
  font-family: Saira;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 19px;
  display: flex;
  align-items: center;

  color: #ffffff;
  margin-top: 30px;
}

.newsletterForm_email {
  width: 300px;
  height: 56px;
  padding: 16px 24px;
  box-sizing: border-box;
  background-color: #1a1a1a;
  color: #ffffff;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  border-radius: 0;
  border: none;
  outline: none;
  border: solid 2px #fff;
  transition: border ease-in 0.2s;
}
