.container {
  max-width: 650px;
  padding: 0 50px;
  margin: auto;
}
@media (max-width: 1240px) {
  .container {
    padding: 0 30px;
  }
}
@media (max-width: 1024px) {
  .container {
    padding: 0 18px;
  }
}


.resetPassForm h3 {
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;
}
.formGroup {
  margin-top: 24px;
}
.formGroup label {
  font-weight: 500;
  font-size: 13px;
  line-height: 1em;
  color: #000000;
  display: block;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.formGroup input {
  border: 1px solid #C4C4C4;
  width: 100%;
  font-size: 12px;
  line-height: 19px;
  padding: 10px 12px;
}
.formGroup input.error {
  border-color: rgb(236, 76, 21);
}
.signInBtn {
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  color: #1A1A1A;
  background: #FFC700;
  padding: 10.5px 24px;
  height: auto;
  width: 100%;
  max-width: 400px;
  margin: 48px auto;
  text-transform: uppercase;
}

@media (max-width: 600px) {
  .resetPassForm h3 {
    font-size: 28px;
  }
}