.containerWrapper {
  position: relative;
}
.container {
  max-width: 1440px;
  padding: 0 50px;
  margin: auto;
}
@media (max-width: 1240px) {
  .container {
    padding: 0 30px;
  }
}
@media (max-width: 1024px) {
  .container {
    padding: 0 18px;
  }
}

.content {
  padding: 40px 72px;
}

/* FAQ */
.faqs h4 {
  font-weight: bold;
  font-size: 24px;
  line-height: 117.9%;
  text-transform: uppercase;
  color: #000000;
}
.faqs ul {
  margin: 28px 0 90px;
  padding: 0;
  list-style: none;
}
.faqs ul li {
  border-top: 1px solid #c4c4c4;
}

.faqs ul li:last-child {
  border-bottom: 1px solid #c4c4c4;
}
.faqs .faq_title {
  display: flex;
  align-items: center;
  height: 56px;
}
.faqs ul li span {
  font-weight: 500;
  font-size: 18px;
  line-height: 117.9%;
  color: #000000;
  text-transform: uppercase;
}
.faqs ul li p {
  margin: 0 0 1.5em 40px;
}
.faqIcon {
  width: 20px;
  height: 20px;
  margin-right: 20px;
  cursor: pointer;
}

@media (max-width: 1400px) {
  .content {
    padding: 40px 42px;
  }
}
@media (max-width: 1340px) {
  .content {
    padding: 40px 0px;
  }
}
@media (max-width: 1240px) {
  .content {
    padding: 40px 0px 220px 0;
    position: relative;
    max-width: 1024px;
    margin: auto;
  }
}
@media (max-width: 1024px) {
}
@media (max-width: 768px) {
  .faqs ul li span {
    font-size: 16px;
  }
}
@media (max-width: 692px) {
  .faqs h4 {
    font-size: 20px;
  }
  .faqs ul li span {
    font-size: 14px;
  }
}

.aboutUs_headings {
  font-family: Saira;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 117.9%;
  text-align: left;
}

.ourPurpose_subheadings {
  color: #595651;
  text-align: left;
  font-family: Saira;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 140%;
}

.dailyStake_details {
  text-align: left;
  font-family: Saira;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 140%;
  color: #000000;
}

.ds_detail_col {
  display: flex;
  align-items: center;
}

.aboutus_container {
  padding-left: 80px;
  padding-right: 80px;
}
.dsMission_details {
  text-align: left;
  font-family: Saira;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 140%;
  color: #000000;
}

.dsStory_details {
  text-align: left;
  font-family: Saira;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 140%;
  color: #000000;
}

.dsPurpose_details {
  text-align: left;
  font-family: Saira;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 140%;
  color: #000000;
}

.ourPurpose_background {
  background-image: url('/images/aboutusBackground.png');
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ourPurpose_image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  width: 300px;
}

.row {
  padding-top: 20px;
  padding-bottom: 20px;
}

.dsimage_container {
  align-items: center;
  display: flex;
}

.dailystake_image {
  height: 300px;
  display: flex;
  justify-content: left;
  align-items: left;
}

.dsCoverage_subheadings {
  color: #595651;
  text-align: left;
  font-family: Saira;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 140%;
  margin-bottom: 0px;
}

.dsCoverage_subheadings_interesting {
  color: #595651;
  text-align: left;
  font-family: Saira;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 140%;
  white-space: pre-wrap;
  width: 300px;
  margin-bottom: 0px;
}

.dsCoverage_subheadings_sportsbook {
  color: #595651;
  text-align: left;
  font-family: Saira;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 140%;
  margin-bottom: 0px;
}
.coverage_images {
  padding: 2px;
  width: 120px;
}

.sportsbook_images {
  padding: 2px;
  width: 75px;
  height: 75px;
}

.checkout_btn {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  color: #1a1a1a;
  background: #ffc700;
  margin-left: 8px;
  margin-right: 50px;
  margin-top: 20px;
  padding: 15.5px 24px;
  border: none;
  height: 80px;
  white-space: pre-wrap;
  width: 160px;
}

.button_div {
  display: flex;
}
@media (max-width: 992px) {
  .aboutus_container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .dailystake_image {
    height: 200px;
    width: 100%;
  }
  .ds_detail_col {
    width: 100%;
  }
  .aboutUs_headings_col {
    width: 100%;
  }
  .dsPurpose_details {
    text-align: center;
    font-family: Saira;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 100%;
    color: #000000;
  }

  .dsStory_details {
    text-align: center;
    font-family: Saira;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 100%;
    color: #000000;
  }

  .dailyStake_details {
    text-align: center;
    font-family: Saira;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 100%;
    color: #000000;
    margin-top: 16px;
  }

  .dsMission_details {
    text-align: center;
    font-family: Saira;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 100%;
    color: #000000;
  }
  .aboutUs_headings {
    font-family: Saira;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 80%;
    text-align: center;
    justify-content: center;
    display: flex;
    text-transform: uppercase;
  }

  .ourPurpose_subheadings {
    color: #595651;
    text-align: center;
    font-family: Saira;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 80%;
  }

  .dsCoverage_subheadings {
    color: #595651;
    text-align: center;
    font-family: Saira;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 80%;
    padding-top: 10px;
  }

  .dsCoverage_subheadings_interesting {
    color: #595651;
    text-align: center;
    font-family: Saira;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 80%;
    padding-top: 10px;
  }

  .dsCoverage_subheadings_sportsbook {
    color: #595651;
    text-align: center;
    font-family: Saira;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 80%;
    padding-top: 10px;
  }
  .checkout_btn {
    margin-left: 0px;
    margin-right: 0px;
  }
  .button_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sport_car_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .coverage_images {
    padding: 5px;
    width: 150px;
  }
  .coverage_main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
